
body {
	color: white; 
	background-image: url("../images/1.jpg");
	background-size: 100%;
}

header {
	display: inline-block;
}

.menu{
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
	display: inline-block;
	a {
	display: inline-block;
	text-decoration: none;
	text-aline: center;
	:hover {
	opacity: 0.5;
	transition: 0.8s
}
}	
}
}
.center {
	background-position: 50% 50%;
}
